@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-star"></i> Last products
                </div>
                <div class="card-body">
                    <div class="row">

                        @foreach (var product in Model.ProductList.Take(4))
                        {
                            <div class="col-sm">
                                <partial name="_ProductItemPartial" model="@product" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-4">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-trophy"></i> Best products
                </div>
                <div class="card-body">
                    <div class="row">

                        @foreach (var product in Model.ProductList.TakeLast(4))
                        {
                            <div class="col-sm">
                                <partial name="_ProductItemPartial" model="@product" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>