@page
@model WebUI.Pages.ReturnOrderModel
@{
    ViewData["Title"] = "Return";
}

<div class="container contact-container">
    <h1 class="mt-4 mb-3">
        Confirmation
    </h1>
    <hr />
    <br />
    <p>Pack and ship your order items back to the seller. After order is received, your payment will be refunded. You can contact us 501-222-2222.</p>
</div>