@page "/Order/{orderId}/Payment"
@model WebUI.Pages.UpdatePaymentModel
@{
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Order">Order</a></li>
                    <li class="breadcrumb-item"><a asp-page="OrderDetail" asp-route-orderId="@Model.OrderId" class="color-main">@Model.OrderId</a></li>
                    <li class="breadcrumb-item">UpdatePayment</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="text-danger" asp-validation-summary="All"></div>

<div class="container mb-4">
    <form asp-page-handler="UpdatePayment" method="post" class="needs-validation" novalidate>

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
            <select asp-for="@Model.PaymentInfo.PaymentMethod" asp-items="Html.GetEnumSelectList<Common.Models.Payment.PaymentMethod>()">
            </select>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="PaymentInfo.CardName" for="cc-name">Name on card</label>
                <input asp-for="PaymentInfo.CardName" type="text" class="form-control" id="cc-name" placeholder="" required>
                <span asp-validation-for="PaymentInfo.CardName" class="text-danger"></span>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                    Name on card is required
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="PaymentInfo.CardNumber" for="cc-number">Credit card number</label>
                <input asp-for="PaymentInfo.CardNumber" type="text" class="form-control" id="cc-number" placeholder="" required>
                <span asp-validation-for="PaymentInfo.CardNumber" class="text-danger"></span>
                <div class="invalid-feedback">
                    Credit card number is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label asp-for="PaymentInfo.Expiration" for="cc-expiration">Expiration</label>
                <input asp-for="PaymentInfo.Expiration" type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <span asp-validation-for="PaymentInfo.Expiration" class="text-danger"></span>
                <div class="invalid-feedback">
                    Expiration date required
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="PaymentInfo.CVV" for="cc-expiration">CVV</label>
                <input asp-for="PaymentInfo.CVV" type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <span asp-validation-for="PaymentInfo.CVV" class="text-danger"></span>
                <div class="invalid-feedback">
                    Security code required
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Update payment</button>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
