@page
@model WebUI.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Welcome to the Admin Dashboard!";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a class="btn btn-primary" asp-page="/Admin/Users">View users</a>
    <a class="btn btn-primary" asp-page="/Admin/Products/AddRemoveProduct">Add or Remove Products</a>
    <a class="btn btn-primary" asp-page="/Admin/Orders">View orders</a>
</div>