html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.vertical-line {
    width: 1px;
    height: 32px;
    background-color: #ddd;
    margin: 0 8px;
}

.product-container {
    height: 100%;
}

.product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-image-container {
    height: 350px; /* Adjust the desired height */
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.order-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}

.order-status {
    font-size: 18px;
    font-weight: bold;
}

.order-item-image {
    max-width: 120px;
    max-height: 120px;
}

.order-date {
    margin-right: 8px;
}

.order-id {
    margin: 0;
}

.order-date-id {
    display: flex;
    flex-direction: column;
}

.order-details {    
    display: flex;
    align-items: center;
    font-size: 12px;
}

.order-item-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.order-details p {
    margin-bottom: 0px;
}

.order-item-price {
    display: flex;
    margin-bottom: 0px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.buttons-container button {
    margin-left: 8px;
}

.black-and-white {
    filter: grayscale(100%);
}

.stock-label {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 0px;
}

.stock-label-in {
    //background-color: #3CB371;
    color: #3CB371;
}

.stock-label-out {
    //background-color: #FF4500;
    color: #FF5722;
}

.discount-box {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 6px;
    background-color: #FF5722;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.price-wrapper {
    /* Existing styles... */
    //flex-direction: row; /* Change flex-direction to row */
    display: flex;
    align-items: baseline; /* Align items at the baseline */
}

.old-price {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    margin-right: 8px;
}

.new-price {
    font-size: 16px;
    color: #FF5722;
    font-weight: bold;
    margin-right: 8px;
}

.sold-rating-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: px;
}

.sold-items {
    font-size: 12px;
    color: #999;
}

.rating {
    font-size: 12px;
    color: #999;
    margin-left: 4px;
}

.product-name {
    font-size: 12px;
    margin-bottom: 8px;
}

.free-shipping {
    font-size: 12px;
    color: #3CB371;
}


/* Quantity spin box */
.quantity-spinner {
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.quantity-spinner button {
    width: 32px;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
}

    .quantity-spinner button i {
        font-size: 12px;
        color: #555;
    }

.quantity-spinner input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #555;
}

.quantity-spinner input::-webkit-inner-spin-button,
.quantity-spinner input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-spinner input:focus {
    outline: none;
}

/* _ProductTable */
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust this value to your preference */
}

/* Add tooltip for truncated text */
.truncate-text[title] {
    position: relative;
    cursor: pointer;
}

.truncate-text[title]:hover:after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table input[type="text"],
.table input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

/* _ProductDetail rating*/
.customer-reviews {
    /* Add your styles for the entire customer reviews section */
}

.average-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.average-rating-label {
    font-size: 18px;
    margin-right: 10px;
}

.average-rating-value {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700; /* Gold color for the stars */
    margin-right: 5px;
}

.average-rating-stars {
    /*color: #FFD700;*/ /* Gold color for the stars */
}

.star-filled {
    content: '\2605'; /* Unicode character for a solid star */
    display: inline-block;
    position: relative;
    color: #FFD700;
    width: auto;
    overflow: auto;
    font-size: 24px;
}

.star-partial {
    content: '\2605'; /* Unicode character for a solid star */
    display: inline-block;
    position: relative;
    color: #FFD700; /* Gold color for the filled stars */
    width: auto;
    overflow: auto;
    font-size: 24px;
    line-height: 1; /* Set line-height to 1 to match the font size */
}

.star-partial:before {
    content: '\2605'; /* Unicode character for a solid star */
    display: none;
    position: relative;
    color: #FFD700; /* Gold color for the filled stars */
    width: auto;
    overflow: auto;
    font-size: 24px;
    line-height: 1; /* Set line-height to 1 to match the font size */
}

.star-partial:after {
    content: '\2605'; /* Unicode character for a solid star */
    display: inherit;
    position: relative;
    color: #FFD700;
    width: var(--partial-width, 0);
    height: 17px;
    overflow: auto;
    font-size: 20px;
}

.star-count {
    font-size: 16px;
}

.star-bar {
    display: flex;
    align-items: center;
}

.star-bar .filled-stars,
.star-bar .empty-stars {
    height: 10px;
}

.filled-stars {
    background-color: #FFD700; /* Gold color for the filled stars */
}

.empty-stars {
    background-color: #ccc;
}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.review-list {
    /* Add styles for the review list section */
}

.review {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-rating {
    /* Add styles for the star icon representing the rating */
    color: #FFD700; /* Gold color */
}

.review-date {
    /* Add styles for the creation date */
    font-size: 12px;
    color: #777;
}

.review-content {
    /* Add styles for the review content */
}

.customer-name {
    font-weight: bold;
    margin-right: 10px;
}

.customer-location {
    color: #777;
}

.review-description {
    /* Add styles for the review description */
}

.review-details {
    /* Add styles for the review details section */
}

/* Apply styles to the vertical menu */
.vertical-menu {
    width: 250px;
    background-color: #f8f9fa;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.vertical-menu a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #343a40;
    display: block;
    transition: background-color 0.3s;
}

.vertical-menu a:hover {
    background-color: #e9ecef;
    color: #007bff;
}

.vertical-menu a.active {
    background-color: #007bff;
    color: white;
}

/* MyAccount/Overview */
.user-profile {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    padding-left: 20px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
}

.user-email {
    font-size: 16px;
    color: #777;
}