<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <nav class="vertical-menu">
                    <a href="/MyAccount/Index">Overview</a>
                    <a href="/MyAccount/Orders">Orders</a>
                    <feature name="Discount">
                        <a href="/MyAccount/Feedback">Feedback</a>
                    </feature>
                    <feature name="Discount">
                        <a href="/MyAccount/Discounts">Discounts</a>
                    </feature>
                    <a href="/MyAccount/Settings">Settings</a>
                    <!-- Add more links as needed... -->
                </nav>
            </div>
        </div>
    </div>
</div>