@page
@model WebUI.Pages.MyAccount.Overview
@{
    ViewData["Title"] = "Overview";
    Layout = "_Layout";
}

<div class="user-profile">
    <div class="user-info">
        <div class="user-name">@Model.Customer.FirstName @Model.Customer.LastName</div>
        <div class="user-email">@Model.Customer.Email</div>
    </div>
</div>